@page
@model LoginModel



<h1 class="text-center">@ViewData["Title"]</h1>
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <section>
            <form id="account" method="post" class="border rounded p-4">
                <h2 class="text-center">Log in</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                    </div>
                </div>

                
                <button id="login-submit" type="submit" class="custom-button">Log in</button>
                

               <div class="mt-4 text-center2">
                   <p class="link-group">
                       <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                   </p>
                    <p class="link-group">
                       <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                   </p>
                   <p class="link-group">
                      <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                   </p>
                   </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
