@page
@model RegisterModel

<h1 class="text-center">@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <section>
            <form id="registerForm" method="post" class="border rounded p-4">
                <h2 class="text-center">Register</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="custom-button">Register</button>

                <div class="mt-4 text-center2">
                    <p class="link-group">
                        <a asp-page="./Login">Already have an account? Log in</a>
                    </p>
                    <p class="link-group">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="link-group">
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
