@model IEnumerable<TaskViewModel>

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1 class="text-center">Dashboard</h1>

<div class="table-responsive">
    <table class="custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Assigned User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.TaskID</td>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.AssignedUser</td>
                </tr>
            }
        </tbody>
    </table>
</div>

